Package: ros-humble-hardware-interface-linrob-package
Version: 0.0.0-0jammy
Architecture: amd64
Maintainer: Your Name <selim.ouirari@linrob.io>
Installed-Size: 3768
Depends: libc6 (>= 2.14), libgcc-s1 (>= 3.3.1), libpython3.10 (>= 3.10.0), libstdc++6 (>= 5.2), ros-humble-fastcdr, ros-humble-action-msgs, ros-humble-builtin-interfaces, ros-humble-launch, ros-humble-launch-ros, ros-humble-rclcpp, ros-humble-rclcpp-action, ros-humble-rclpy, ros-humble-rosidl-default-runtime, ros-humble-std-msgs
Section: misc
Priority: optional
Description: A comprehensive package for HILIN project with C++ and Python nodes
